$font-path:"./base/fonts/";
$images-path:"/assets/images/";

$principal-font-size:2.4rem;
$second-font-size:7rem;
$third-font-size:5rem;
$fourth-font-size:1.2rem;
$nav-font-size:1.8rem;

$principal-font:"Roboto Light";
$second-font:"Roboto Regular";
$third-font:"Permanent Marker";

$principal-color:#000000;
$second-color:#006D77;
$third-color:#83C5BE;
$fourth-color:#E5E5E5;

$principal-background-color:#E5E5E5;



