.go-down {
    @include flex-column-center-center;
    text-decoration: none;
    color: $second-color;
    animation: go-down-effect 2s ease 2s infinite;
    margin-top:50px;
}

@keyframes go-down-effect {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30);
    }

    90% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0);
    }
}

#go-up {
    position:fixed;
    bottom:30px;
    right:30px;
    text-decoration: none;
    color: $second-color;
}