* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
  font-size: $principal-font-size;
}

html {
  font-size: 62.5%;
  @media (max-width: 768px) {
    font-size: 50%;
  }
  color: $principal-color;
  background-color: $principal-background-color;

  scroll-behavior:smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin:0 auto 0 auto;
}