/* montserrat-regular - latin */
@font-face {
    font-family: "Roboto Light";
    src: url("#{$font-path}/Roboto-Thin.ttf");
  }

  @font-face {
    font-family: "Roboto Regular";
    src: url("#{$font-path}/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "Permanent Marker";
    src: url("#{$font-path}/PermanentMarker.ttf");
  }