#presentation{
    
}

#presentation-speech{
    margin-top:50px;
   

    p{
        padding-left:25rem;
        @media (max-width: 768px) {
            padding-left:0;
        }
    }
    
}

#reseaux{
    @include flex-row-flexend;
    margin-top:50px;
    #reseaux-logos{
        width:50%;
        
        border-top:3px solid $second-color;
        @include flex-row-flexend;
        a{
            margin-top:30px;
            img{
                width:8rem;
                height: 8rem;
            }
        }
        a:nth-child(-n+2){
            margin-right:30px;
        }
    }
}